header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 35px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.ke-navigate {
    display: flex;
    align-items: center;
}